html
  head
    title=title
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js")
    script(src="/js/tether.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css", rel='stylesheet', type="text/css")
  body
    div.container
      nav.navbar.navbar-light.bg-faded#navbar-header
        a.navbar-brand PEDG SMS System v0.5
        ul.nav.navbar-nav
          li.nav-item
            a(href="/").nav-item.nav-link Polls
          li.nav-item
            a(href="/questions").nav-item.nav-link Questions
          li.nav-item
            a(href="/view-controls").nav-item.nav-link View Control
          li.nav-item
            a(href="/viewer").nav-item.nav-link Viewer
