@font-face {
    font-family: "Trade Gothic LT Std";
    src: url(TradeGothicLTStd-BdCn20.otf) format('truetype');
}

#chart {
  position:absolute;
  top:100px;
  left:400px
}

.title{
  font-family:"Trade Gothic LT Std";
  text-transform:uppercase;
  font-size:40px;
  text-align:left;
  color:#666666;
  line-height:100%;
  padding-top:40px;
  width:800px
}

.legend{
  margin-bottom:60px;
  padding-top:10px;
  padding-left:16px;
}

.label{
  font-family:"Trade Gothic LT Std";
  text-transform:uppercase;
  font-size:20px;
  text-align:center;
  vertical-align:center;
  padding-top:5px

}

.green{
  background-image:url('grass_2.png');
  color:#eee
}

.blue{
  background-image:url('sky_2.png');
  color:#eee
}

.grey{
  background-image:url('wood_2.png');
  color:#eee
}

.logo{
  width:300px;
  position:absolute !important;
  top:750px;
  left:1300px;
}
