@font-face {
    font-family: "Trade Gothic LT Std";
    src: url(TradeGothicLTStd-BdCn20.otf) format('truetype');
}

#chart {
    margin:auto;
    width:auto !important
    height:100% !important
}

.title{
  font-family:"Trade Gothic LT Std";
  text-transform:uppercase;
  font-size:40px;
  text-align:center;
  color:#666666;
  line-height:100%;
  padding-top:40px
}

.legend{
  margin-bottom:60px;
  padding-top:10px
}

.label{
  font-family:"Trade Gothic LT Std";
  text-transform:uppercase;
  font-size:20px;
  text-align:center;
  vertical-align:center;
  padding-top:5px
}

.green{
  background-color:#BDE724;
  color:#666666
}

.blue{
  background-color:#005985;
  color:#dddddd
}

.grey{
  background-color:#D2D2D2;
  color:#666666
}

.logo{
  width:200px;
  position:absolute;
  top:560px;
  left:960px
}
