@font-face {
    font-family: "TradeGothic LT BdCondTwenty Bold";
    src: url(TradeGothicLTStd-BdCn20.otf) format('truetype');
}

body{
  background-color:#005985;
}

#chart {
  position:absolute;
  top:100px;
  left:650px
}

.title{
  font-family:"TradeGothic LT BdCondTwenty Bold";
  text-transform:uppercase;
  font-size:40px;
  text-align:left;
  /*color:#666666;*/
  color:white;
  position:absolute;
  left:40px;
  line-height:100%;
  padding-top:40px;
  width:800px
}

.legend{
  margin-bottom:60px;
  padding-top:240px;
  margin-left:200px;
}

.label{
  font-family:"TradeGothic LT BdCondTwenty Bold";
  text-transform:uppercase;
  font-size:30px;
  text-align:center;
  vertical-align:center;
  padding-top:5px;
}

.box{
  color:#eee;
  margin-bottom:20px;
  border:solid 2px white;
  width:250px
}

.green{
  background-image:url('grass_2.png');
}

.blue{
  background-image:url('sky_2.png');
}

.grey{
  background-image:url('wood_2.png');
}

.logo{
  width:300px;
  position:absolute !important;
  top:600px;
  left:1200px;
}
